PYPOTTER_ENVIRONMENT=development
PYPOTTER_DATA_DIR=./data
PYPOTTER_DATABASE_URL=sqlite:///./data/pypotter.db
PYPOTTER_TRAINING_DIR=./Training
PYPOTTER_HOME_ASSISTANT_URL=
PYPOTTER_HOME_ASSISTANT_TOKEN=
PYPOTTER_ENABLE_HOME_ASSISTANT=false
PYPOTTER_LOG_LEVEL=INFO

