PYPOTTER_ENVIRONMENT=development
PYPOTTER_DATA_DIR=./data
PYPOTTER_DATABASE_URL=sqlite:///./data/pypotter.db
PYPOTTER_TRAINING_DIR=./Training
PYPOTTER_HOME_ASSISTANT_URL=
PYPOTTER_HOME_ASSISTANT_TOKEN=
PYPOTTER_ENABLE_HOME_ASSISTANT=false
PYPOTTER_MQTT_HOST=
PYPOTTER_MQTT_PORT=1883
PYPOTTER_MQTT_USERNAME=
PYPOTTER_MQTT_PASSWORD=
PYPOTTER_MQTT_DISCOVERY_PREFIX=homeassistant
PYPOTTER_MQTT_TOPIC_PREFIX=pypotter
PYPOTTER_MQTT_CLIENT_ID=pypotter
PYPOTTER_ENABLE_MQTT=false
PYPOTTER_LOG_LEVEL=INFO
